<fieldset id="adversarial_intents_form" class="usa-fieldset-inputs hidden">
  <legend>Adversarial Intent</legend>

  <div class="usa-slider-container">
    <input id="intent_slider" type="range" min="1" max="5" step="1" value="3" class="usa-slider" onchange="update_intent_description(<%= adversarial_intents.to_json %>)">
    <label id="intent_slider_description" for="intent_slider">
      <%= adversarial_intents[2].qualitative %>
      <span class="usa-form-hint">
        <%= adversarial_intents[2].description %>
      </span>
    </label>
  </div>
</fieldset>
