<fieldset id="adversarial_targetings_form" class="usa-fieldset-inputs hidden">
  <legend>Adversarial Targeting</legend>

  <div class="usa-slider-container">
    <input id="targeting_slider" type="range" min="1" max="5" step="1" value="3" class="usa-slider" onchange="update_targeting_description(<%= adversarial_targetings.to_json %>)">
    <label id="targeting_slider_description" for="targeting_slider">
      <%= adversarial_targetings[2].qualitative %>
      <span class="usa-form-hint">
        <%= adversarial_targetings[2].description %>
      </span>
    </label>
  </div>
</fieldset>
