<fieldset id="adversarial_capabilities_form" class="usa-fieldset-inputs hidden">
  <legend>Adversarial Capability</legend>

  <div class="usa-slider-container">
    <input id="capability_slider" type="range" min="1" max="5" step="1" value="3" class="usa-slider" onchange="update_capability_description(<%= adversarial_capabilities.to_json %>)">
    <label id="capability_slider_description" for="capability_slider">
      <%= adversarial_capabilities[2].qualitative %>
      <span class="usa-form-hint">
        <%= adversarial_capabilities[2].description %>
      </span>
    </label>
  </div>
</fieldset>
