<fieldset class="usa-fieldset-inputs">
  <legend>Meta</legend>

  <label for="title">Title</label>
  <input id="title" name="title" type="text" required="" aria-required="true">

  <label for="author">Author</label>
  <input id="author" name="author" type="text" value="<%= @author.agency_uid %>" readonly="" disabled="">

  <label for="description" class="usa-input-optional">Description</label>
  <textarea id="description" name="description"></textarea>
</fieldset>
