<div class="row">
  <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
    <div class="multisteps-form__progress">
      <button class="multisteps-form__progress-btn js-active" type="button" title="User Info">Prep</button>
      <button class="multisteps-form__progress-btn" type="button" title="Address">Sources</button>
      <button class="multisteps-form__progress-btn" type="button" title="Order Info">Events</button>
      <button class="multisteps-form__progress-btn" type="button" title="Comments">Vulns</button>
      <button class="multisteps-form__progress-btn" type="button" title="Comments">Likelihoods</button>
      <button class="multisteps-form__progress-btn" type="button" title="Comments">Impacts</button>
      <button class="multisteps-form__progress-btn" type="button" title="Comments">Summary</button>
    </div>
  </div>
</div>