<div class="multisteps-form__panel shadow-sm p-4 rounded bg-white" data-animation="fadeIn">
  <h3 class="multisteps-form__title">Likelihoods</h3>
  <p class="lead">Determine the likelihood that threat events of concern result in adverse impacts, considering:
    <ol>
      <li>The characteristics of the threat sources that could initiate the events;</li>
      <li>The vulnerabilities/predisposing conditions identified; and</li>
      <li>The organizational susceptibility reflecting the safeguards/countermeasures planned or implemented to impede such events.</li>
    </ol>
  </p>
  
  <div class="multisteps-form__content">
    <!-- <div class="form-row mt-4">
      <div class="col-12">
        <label for="scope_textarea">Scope</label>
        <i class="fas fa-info-circle"></i>
        <textarea id="scope_textarea" class="multisteps-form__input form-control" rows=5 placeholder="<%= render partial: 'static/shared/scope_tip' %>"></textarea>
      </div>
    </div>
    <div class="form-row mt-4">
      <div class="col-12">
        <label for="assumptions_textarea">Assumptions / Constraints
          <i class="fas fa-info-circle"></i>
        </label>
        <textarea id="assumptions_textarea" class="multisteps-form__input form-control" rows=5 placeholder="<%= render partial: 'static/shared/assumptions_tip' %>"></textarea>
      </div>
    </div>
    <div class="form-row mt-4">
      <div class="col-12">
        <label for="methodology_textarea">Methodology</label>
        <i class="fas fa-info-circle"></i>
        <textarea id="methodology_textarea" class="multisteps-form__input form-control" rows=5 placeholder="<%= render partial: 'static/shared/methodology_tip' %>"></textarea>
      </div>
    </div> -->

    <div class="button-row d-flex mt-4">
      <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
      <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
    </div>
  </div>
</div>