<div class="multisteps-form__panel shadow-sm p-4 rounded bg-white" data-animation="fadeIn">
  <h3 class="multisteps-form__title">Risk Summary</h3>
  
  <div class="multisteps-form__content">
    <div class="form-row mt-4">
      <div class="col-12">
        <label for="scope_textarea">Markdown</label>
        <i class="fas fa-info-circle"></i>
        <textarea id="scope_textarea" class="multisteps-form__input form-control" rows=10 readonly>
          <%= render partial: 'shared/lorem' %>
          
          <%= render partial: 'shared/lorem' %>
        </textarea>
      </div>
    </div>
  </div>
</div>