<div class="row">
  <div class="col-sm-12">
    <div class="card bg-light mb-3">
      <div class="card-header"><h2>JSON</h2></div>
      <div class="card-body">
        <p class="card-text" id="json-panel"></p>
      </div>
    </div>
  </div>
</div>