<form data-action="change->static#render">
  <div class="form-group" id="adversarial-event-initiation-form-group" style="display: none;">
    <label for="adversarial-event-initiation" class="form-label">Adversarial event initiation</label>
    <input type="range" class="custom-range" min="1" max="10" id="adversarial-event-initiation">
    <small id="adversarial-event-initiation-prose" class="form-text text-muted">
    </small>
  </div>

  <div class="form-group" id="non-adversarial-event-occurence-form-group" style="display: none;">
    <label for="non-adversarial-event-occurence" class="form-label">Non-adversarial event occurence</label>
    <input type="range" class="custom-range" min="1" max="10" id="non-adversarial-event-occurence">
    <small id="non-adversarial-event-occurence-prose" class="form-text text-muted">
    </small>
  </div>
  
  <div class="form-group" id="adverse-likelihoods-form-group">
    <label for="adverse-likelihoods" class="form-label">Likelihood for adverse impact</label>
    <input type="range" class="custom-range" min="1" max="10" id="adverse-likelihoods">
    <small id="adverse-likelihoods-prose" class="form-text text-muted">
    </small>
  </div>
  
  <div class="form-group" id="likelihood-notes-form-group">
    <label for="likelihood-notes" class="form-label">Notes</label>
    <small id="likelihood-notes-help" class="form-text text-muted">
      <i class="far fa-info-circle"></i> It helps to add a prose description of your rationale, but keep it clear and brief!
    </small>
    <textarea class="form-control" id="likelihood-notes" rows="5" placeholder="Sure, some bad stuff could go down, but nah not really because we're super lucky."></textarea>
  </div>
</form>