<div class="row">
  <div class="col-sm-12">
    <div class="card bg-light mb-3">
      <div class="card-header"><h2>Markdown</h2></div>
      <div class="card-body" id="markdown-panel">
        <p class="card-text" id="markdown-title"></p>
        
        <p class="card-text" id="markdown-finding"></p>
        <p class="card-text" id="markdown-finding-severity"></p>

        <p class="card-text" id="markdown-risk-assessment"></p>
        <p class="card-text" id="markdown-threat-source"></p>
        <p class="card-text" id="markdown-likelihood"></p>
        <p class="card-text" id="markdown-likelihood-notes"></p>
        <p class="card-text" id="markdown-impact"></p>
        <p class="card-text" id="markdown-impact-notes"></p>
        <p class="card-text" id="markdown-risk-summary"></p>

        <p class="card-text" id="markdown-recommendations"></p>
        <p class="card-text" id="markdown-recommendations-notes"></p>
      </div>
    </div>    
  </div>
</div>