<div class="row">
  <div class="col-sm-12">
    <div class="card bg-light mb-3">
      <div class="card-header"><h2>Markdown</h2></div>
      <div class="card-body" id="markdown-panel">
        <p class="card-text" id="markdown-title">## Title</p>
        
        <p class="card-text" id="markdown-finding"></p>
        <p class="card-text" id="markdown-finding-severity"></p>

        <p class="card-text">## Risk assessment</p>

        <p class="card-text">## Recommendations</p>
        <p class="card-text" id="markdown-recommendations"></p>
      </div>
    </div>    
  </div>
</div>