<form>
  <div class="form-group">
    <label for="recommendations">Recommendations</label>
    <textarea class="form-control" id="recommendations" rows="5" placeholder="We recommend that the Information System Owner (ISO) provide stakeholders within their authorization boundary with access to the Awareness Corp training platform. We also recommend that stakeholders complete the `Intro to Awareness 101` course by the next quarterly review."></textarea>
    <small id="recommendations-help" class="form-text text-muted">
      <i class="far fa-info-circle"></i> Try to be clear about <em>who</em> needs to do <em>what</em>. The whens, wheres, hows, and whys can be useful too.
    </small>
  </div>
</form>