<table class="table table-hover">
  <thead>
    <tr>
      <% keys.each do |k| %>
      <th scope="col"><%= k %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% items.all.each do |i| %>
    <tr>
      <% keys.each do |k| %>
      <td><%= i[k] %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>