<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="meta" role="tabpanel" aria-labelledby="home-tab">
    <div class="container mt-3">
      <%= render "static/shared/meta_form" %>
    </div>
  </div>
  <div class="tab-pane fade" id="threat-sources" role="tabpanel" aria-labelledby="threat-sources-tab">
    <div class="container">
    </div>
  </div>
  <div class="tab-pane fade" id="threat-events" role="tabpanel" aria-labelledby="threat-events-tab">
    <div class="container">
    </div>
  </div>
  <div class="tab-pane fade" id="likelihoods" role="tabpanel" aria-labelledby="likelihoods-tab">
    <div class="container">
    </div>
  </div>
  <div class="tab-pane fade" id="impacts" role="tabpanel" aria-labelledby="impacts-tab">
    <div class="container">
    </div>
  </div>
  <div class="tab-pane fade" id="recommendations" role="tabpanel" aria-labelledby="recommendations-tab">
    <div class="container mt-3">
      <%= render "static/shared/recommendations_form" %>
    </div>
  </div>
</div>