<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="meta-tab" data-toggle="tab" data-target="#meta" type="button" role="tab" aria-controls="meta" aria-selected="true">Meta</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="threat-sources-tab" data-toggle="tab" data-target="#threat-sources" type="button" role="tab" aria-controls="threat-sources" aria-selected="false">Threat Sources</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="threat-events-tab" data-toggle="tab" data-target="#threat-events" type="button" role="tab" aria-controls="threat-events" aria-selected="false">Threat Events</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="likelihoods-tab" data-toggle="tab" data-target="#likelihoods" type="button" role="tab" aria-controls="likelihoods" aria-selected="false">Likelihoods</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="impacts-tab" data-toggle="tab" data-target="#impacts" type="button" role="tab" aria-controls="impacts" aria-selected="false">Impacts</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="recommendations-tab" data-toggle="tab" data-target="#recommendations" type="button" role="tab" aria-controls="recommendations" aria-selected="false">Recommendations</button>
  </li>
</ul>