<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="meta-tab" data-toggle="tab" data-target="#meta-form" type="button" role="tab" aria-controls="meta-form" aria-selected="true">Meta</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="threat-sources-tab" data-toggle="tab" data-target="#threat-sources-form" type="button" role="tab" aria-controls="threat-sources-form" aria-selected="false">Threat Sources</button>
  </li>
  <!-- <li class="nav-item" role="presentation">
    <button class="nav-link" id="threat-events-tab" data-toggle="tab" data-target="#threat-events" type="button" role="tab" aria-controls="threat-events" aria-selected="false">Threat Events</button>
  </li> -->
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="likelihoods-tab" data-toggle="tab" data-target="#likelihoods-form" type="button" role="tab" aria-controls="likelihoods-form" aria-selected="false">Likelihoods</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="impacts-tab" data-toggle="tab" data-target="#impacts-form" type="button" role="tab" aria-controls="impacts-form" aria-selected="false">Impacts</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="recommendations-tab" data-toggle="tab" data-target="#recommendations-form" type="button" role="tab" aria-controls="recommendations-form" aria-selected="false">Recommendations</button>
  </li>
</ul>