<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="AT-02 Literacy Training and Awareness">
    <small id="title-help" class="form-text text-muted">
      <i class="far fa-info-circle"></i> Using a <a href="https://controlfreak.risk-redux.io/families">NIST SP 800-53 control family or name</a> can help contextualize the risk you're documenting.
    </small>
  </div>
  <div class="form-group">
    <label for="findings">Findings</label>
    <textarea class="form-control" id="findings" rows="5" placeholder="We found that the official required training was not actually a training at all but just a really tricky Wordle."></textarea>
    <small id="findings-help" class="form-text text-muted">
      <i class="far fa-info-circle"></i> The prose description of the findings revealed by your assessment should be clear and concise. Just the facts, pal!
    </small>
  </div>
</form>